Importing data using the Kaggle API

In [ ]:
!pip install kaggle

In [8]:
!kaggle datasets download -d najir0123/walmart-10k-sales-datasets

Dataset URL: https://www.kaggle.com/datasets/najir0123/walmart-10k-sales-datasets
License(s): MIT

Unzip dataset using zipfile library

In [9]:
import zipfile

In [15]:
with zipfile.ZipFile("walmart-10k-sales-datasets.zip", "r") as file:
    file.extractall("walmart-10k-sales-datasets.csv")

Step 1 - Data exploring and loading

In [69]:
import pandas as pd

In [70]:
df_walmart = pd.read_csv("walmart-10k-sales-datasets/Walmart.csv", encoding_errors = 'ignore')

df_walmart.shape

(10051, 11)

In [71]:
df_walmart.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [72]:
df_walmart.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [73]:
df_walmart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [74]:
df_walmart.duplicated().sum()

51

In [75]:
df_walmart.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [76]:
df_walmart.drop_duplicates(inplace = True)

df_walmart.duplicated().sum()

0

In [77]:
df_walmart.shape

(10000, 11)

In [78]:
df_walmart.dropna(inplace = True)

df_walmart.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [79]:
df_walmart.shape

(9969, 11)

In [80]:
df_walmart.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [81]:
df_walmart["unit_price"] = df_walmart["unit_price"].str.replace("$", "")
df_walmart.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [82]:
df_walmart["unit_price"] = df_walmart["unit_price"].astype(float)

df_walmart["date"] = pd.to_datetime(df_walmart["date"], format = "%d/%m/%y", errors = "coerce")
df_walmart["date"] = df_walmart["date"].dt.date

df_walmart["time"] = pd.to_datetime(df_walmart["time"].astype(str), format="%H:%M:%S").dt.time

df_walmart.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 934.6+ KB

In [83]:
df_walmart.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [85]:
df_walmart['total'] = (df_walmart['quantity'] * df_walmart['unit_price']).round(2)

df_walmart.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-01-05,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-03-08,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-02-08,10:37:00,Ewallet,5.3,0.48,604.17

In [86]:
df_walmart.columns = df_walmart.columns.str.lower()

df_walmart.columns

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin', 'total'],
      dtype='object')

Step 2 - Exporting data into MySQL

In [87]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\csush\anaconda3\lib\site-packages (1.1.1)

In [88]:
import pymysql

from sqlalchemy import create_engine

In [89]:
engine = create_engine('mysql+pymysql://root:root@localhost/walmart_db')

try:
    engine
    print("Connected successfully to MySQL")
except:
    print("unsuccessful to connect MySQL")

Connected successfully to MySQL

In [90]:
df_walmart.to_sql("walmart_sales", con=engine, index = False, if_exists = 'replace')

9969

In [91]:
df_walmart.to_csv("df_walmart_cleaned.csv", index = False)